<div class="houses-list">
  <table mat-table [dataSource]="houses">
    <!-- Name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let house">{{ house.name }}</td>
    </ng-container>

    <!-- Words -->
    <ng-container matColumnDef="words">
      <th mat-header-cell *matHeaderCellDef>Words</th>
      <td mat-cell *matCellDef="let house">{{ house.words }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
