
<div class="movies-list">
  <p>
    Movies list
  </p>
  
  <section class="movies-container">
    <div class="movie">Harry Potter</div>
    <div class="movie">Harry Potter</div>
    <div class="movie">Harry Potter</div>
    <div class="movie">Harry Potter</div>
    <div class="movie">Harry Potter</div>
    <div class="movie">Harry Potter</div>
    <div class="movie">Harry Potter</div>
    <div class="movie">Harry Potter</div>
    <div class="movie">Harry Potter</div>
    <div class="movie">Harry Potter</div>
    <div class="movie">Harry Potter</div>
    <div class="movie">Harry Potter</div>
  </section>
</div>