<header>
  <h1 class="page-title">{{ title }}</h1>
  <nav>
    <ul class="nav-menu">
      <li class="nav-menu__item">
        <a
          [routerLink]="['houses']"
          routerLinkActive="nav-menu__item__link--active"
        >
          Houses
        </a>
      </li>
      <li class="nav-menu__item">
        <a
          [routerLink]="['characters']"
          routerLinkActive="nav-menu__item__link--active"
        >
          Characters
        </a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer></footer>
