@import "_variables";

.page-title {
  color: white;
}

@mixin hover {
  //&:hover {
  //  color: white;
  //}
}

.nav-menu {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;

  &__item {
    height: 30px;
    color: white;
    margin: 10px;

    &__link {
      &--active {
        color: gold;
      }
    }
  }
}

.nav-menu__item__link--active > .nav-menu__item:hover {
  background: red;
}
